[user]
	name = Zee V. (Philip)
	email = zee@vall.in
	signingkey = 15EC467AB1962A94E2FEAD71ED742C6C4FEF9C29

[github]
  user = zeeraw

[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  filemode = false
  trustctime = false

[credential]
  helper = osxkeychain

[fetch]
  prune = true

[gpg]
	program = /usr/local/MacGPG2/bin/gpg2

[commit]
	gpgsign = true
