[user]
	name = 
	email = 

[github]
  user = zeeraw

[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  filemode = false
  trustctime = false

[credential]
  helper = osxkeychain

[fetch]
  prune = true

[gpg]
	program = /usr/local/bin/gpg

[commit]
	gpgsign = true
